<h1>Kegs</h1>
<ul>
  <li *ngFor="let keg of kegs" [class.selected]="keg === selectedKeg" class="kegNames">
    <span (click)="onSelect(keg)" [class]="priceColor(keg)" >{{ keg.name }}</span>
    <span *ngIf="lessThanTenCheck(keg)">Warning: Less than ten pints left</span>
    <span *ngIf="ABVindicator(keg)" class="boldText">More than 5% ABV</span>
  </li>
</ul>

<button (click)="makeNewKeg()">Add new Keg</button>


<div *ngIf="newKegForm">
  <app-new-keg></app-new-keg>
</div>

<app-keg-detail [keg]="selectedKeg"></app-keg-detail>
