label {
  width: 100%;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marg-top {
  margin-top: 2rem;
}

app-new-keg {
  display: grid;
}

.boldText {
  font-weight: bold;
  color: blue;
}

.kegNames {
  padding: 15px;
  font-size: 18pt;
}
