label {
  width: 100%;
}

#KegTitle {
  color: #CAC042;
  background-color: #4A2C43;
  font-family: monospace;
  padding-left: 5px;
  font-size: 32pt;
  text-align: center;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.marg-top {
  margin-top: 2rem;
}

app-new-keg {
  display: grid;
}

.boldText {
  font-weight: bold;
  color: blue;
}

.kegNames {
  padding: 15px;
  font-size: 20pt;
  font-family: monospace;
  outline: 2px solid gold;
  color: gold;
  background-color: #D3BCCD;
}

.beerImage {
  width: 5%;
}

.theKegName {
  cursor: pointer;
  padding: 10px;
}
.progress {
  margin-top: 10px;
}

.onSaleDisplay {
  font-size: 10pt;
  color: black;
}

#progressBarText {
  font-size: 10pt;
  text-align: center;
  color: black;
}
